<%= link_to(categories_path, :class=>"btn btn-primary btn-large") do %>
  <i class="icon-circle-arrow-left icon-white"></i> 一覧に戻る
<% end %>
<br/>
<br/>
<div class="row">
  <div class="span7">
    <%= form_for(@category, :html => {:multipart => true, :class => 'form-horizontal well'}) do |f| %>
      <fieldset>
        <div class="control-group">
          <legend>カテゴリ情報を入力してください。</legend>
          <label class="control-label" for="input01">カテゴリ名</label>
          <div class="controls">
            <%= f.text_field :name, {:class=>"input-xlarge"} %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit '　登　録　', {:class=>"btn btn-primary"} %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
