<div class="container">

  <div class="page-header">
    <h1>カテゴリ一覧</h1>
  </div>
  <%= link_to(new_category_path, :class=>"btn btn-primary btn-large") do %>
    <i class="icon-plus icon-white"></i> カテゴリ登録
  <% end %>　

  <br/>
  <br/>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width: 60%">カテゴリ名</th> 
        <th style="width: 15%"></th> 
        <th style="width: 15%"></th> 
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td style="font-size:18px;vertical-align:middle;padding-left:20px;"><%=category.name %></td> 
        <td style="text-align:center;">
          <%= link_to(edit_category_path(category), :class=>"btn btn-primary btn-large") do %>
            <i class="icon-edit icon-white"></i> 編　集
          <% end %>
        </td>
        <td style="text-align:center;">
          <%= link_to(category_path(category), 
                      { :method => :delete, :confirm => "削除してよろしいですか？",
                       :class=>"btn btn-primary btn-large"
                      }) do %>
            <i class="icon-trash icon-white"></i> 削　除
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
